<launch>
    <group ns="raceon">
        <param name="topic_name_camera_image" value="raspicam_node/image" />
        <param name="topic_name_camera_image_compressed" value="raspicam_node/image/compressed" />
        <param name="topic_name_camera_info" value="raspicam_node/camera_info" />
        <param name="topic_name_position_error" value="position/error" />
        <param name="topic_name_position_track" value="position/track" />
        <param name="topic_name_control" value="control" />

        <include file="$(find raspicam_node)/launch/camerav1_1280x720.launch">
            <arg name="enable_raw" default="false"/>
            <arg name="enable_imv" default="false"/>
            <arg name="camera_id" default="0"/>
            <arg name="camera_frame_id" default="raspicam"/>
            <arg name="camera_name" default="camerav1_1280x720"/>
        </include>

        <node pkg="raceon" name="pos_estimation" type="pos_estimation.py" output="log">
            <param name="~use_compressed_image" value="true" />
            <param name="~scan_line" value="170" />
            <param name="~peak_threshold" value="170" />
            <param name="~track_width" value="500" />
            <param name="~camera_center" value="640" />
        </node>

        <node pkg="raceon" name="control" type="control.py" output="log">
            <param name="~motor_speed" value="0" />
            <param name="~target" value="0" />
            <param name="~kp" value="10" />
        </node>

        <node pkg="raceon" name="actuation" type="actuation.py" output="log" />
    </group>
</launch>